/*Background color*/
.body {
    background-color: #DAD7CD;
    padding: 0;
    margin: 0;
}

/*Couleur du fond du topnav*/
.topnav {
    background-color: #A3B18A;
    overflow: hidden;
  }
  
  /*topnav*/
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
  
  /*Couleur sous texte*/
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
  
  /*Couleur du liens*/
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.zoneLogo {
    background-color: red;
    justify-content: center;
    } 


    .matchaLogo {
      background-color: #04AA6D;
      block-size: 425px;
      left: 200px;
      margin-right: 20%;
    }

.titre {
background-color: orange;
margin-top: 22%;
display: flex;

}

.apropos {
  background-color: red;
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }

.engagement {
  background-color: aqua;
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  }

.choisir {
  background-color: greenyellow;
  margin-top: 30%;
  display: flex;
  flex-direction: column;
}

.services {
  background-color: yellow;
  margin-top: 30%;
  margin-bottom: 20%;
  display: flex;
  flex-direction: column;
}

.footer {
    background-color: #EEECE5;
    padding: 20px;
}