.header {
background-color: red;
padding-top: 5%;
padding-bottom: 5%;
display: flex;
align-items: center;
justify-content: space-around;
}

.navbar {
  overflow: hidden;
  background-color: #A3B18A;
  position: fixed; /* Set the navbar to fixed position */
  top: 20; /* Position the navbar at the top of the page */
  width: 20%; /* Full width */
  display: flex;
  flex-direction: column;
  font-family: "IBM Plex Sans", serif;
  font-weight: 600;
  font-style: normal;
  font-size: large;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 300px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
