
/*Background color*/
.body {
  background-color: #DAD7CD;
  padding: 0;
  margin: 0;
}

/*Couleur du fond du topnav*/
nav {
  background-color: #A3B18A;
  overflow: hidden;
}

/*topnav*/
nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/*Couleur sous texte*/
nav a:hover {
  background-color: #ddd;
  color: black;
}

/*Couleur du liens*/
nav a.active {
  background-color: #04AA6D;
  color: white;
}

.zoneLogo{
  background: green;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 3,5%;
  margin: 3,5%;
}

.logo {
  width: 25%;
  height: 25%;
  padding-top: 5%;
  margin-bottom: 5%;

}

.txt {
  display: flex;
  text-align: center;
  justify-content: space-around;
  font-family: "IBM Plex Sans", serif;
  font-weight: 500;
  font-style: italic;
}

.titres{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Dynalight", serif;
  font-weight: 600;
  font-style: normal;
 }

.container {
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 5%;
  margin-bottom: 5%;

}

.container img {
  width: 20%;
  height: 20%;
}

section .txt {
  margin-bottom: 5%;
}

section .titres {
  margin-bottom: 3%;
  padding: 3%;
}

.zoneFin {
  background-color: violet;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.imgfin {
  width: 25%;
  height: 25%;
  padding-top: 5%;
  margin-bottom: 5%;
}